node_modules
/worlds
/players
/config.json
/plugins
/logs

Thumbs.db
ehthumbs.db
database.json
/plugins/auth
/config
/storage
*.cab
*.msi
*.msm
*.msp
*.chk
*.log
$RECYCLE.BIN/
Desktop.ini
*~
*~
config.json